$light-color: #ebe8ea;
$dark-color: black;
$highlight: #381925;
$accent: #bd3265;
$purple: #996de3;
$black: #161315;
$blue: #233540;
$outline: #53bee9;
@mixin theme {
    color: $highlight; 
    border: 2px solid $highlight;
    border-radius: 8px;
    background-color: $highlight;
}

br{
    margin: 1rem;
}
.story{
    background-color: $light-color;
    width: 60%;
    text-align: center;
    @include theme;

    button{
        background-color: $accent;
        border: 2px solid $accent;
        border-radius: 8px;
        margin: 10px;
        padding: 5px;

        
    }
    button:hover{
        color: white;
        background-color: $outline;
        border-color: $outline;
    }
}

@media (max-width :800px){
    .story{
        width: 90%
    }
}
