$light-color: #ebe8ea;
$dark-color: black;

@mixin theme {
    color: $dark-color; 
    border: 2px solid $dark-color;
}

br{
    margin: 1rem;
}
.story{
    background-color: $light-color;
    width: 60%;
    @include theme;
}

@media (max-width :800px){
    .story{
        width: 95%
    }
}
