.compendiumContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.compendiumContainer * {
  border-radius: 8px;
  margin: 2%;
}
.compendiumContainer .compendiumDisplay {
  width: 75%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}
@media (max-width: 800px) {
  .compendiumContainer .compendiumDisplay {
    width: 100%;
  }
}
.compendiumContainer .compendiumDisplay .compendiumSearchBar {
  height: 50px;
  background-color: #bd3265;
  margin-bottom: 0;
  margin-top: 0;
}
.compendiumContainer .compendiumDisplay .compendiumSearchBar input {
  border: 2px solid #161315;
  background-color: #381925;
  color: white;
}
.compendiumContainer .compendiumDisplay .compendiumCards {
  display: flex;
  flex-wrap: wrap;
  background-color: #381925;
  align-items: start;
}
.compendiumContainer .compendiumDisplay .compendiumCards .compendiumCard {
  width: 200px;
  height: 300px;
}
@media (max-width: 1200px) {
  .compendiumContainer .compendiumDisplay {
    width: 100%;
    min-height: 400px;
  }
}
.compendiumContainer .compendiumSearch {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #233540;
  align-items: center;
}
@media (max-width: 1200px) {
  .compendiumContainer .compendiumSearch {
    width: 100%;
    height: 450px;
  }
}
.compendiumContainer .compendiumSearch > * {
  margin: 10px;
  text-align: justify;
  height: 300px;
  width: 200px;
  color: white;
}
.compendiumContainer .compendiumSearch > * form {
  display: flex;
  flex-direction: column;
  color: white;
}
.compendiumContainer .compendiumSearch > * form .radioGroup {
  display: flex;
}
.compendiumContainer .compendiumSearch > * form .radio {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compendiumContainer .compendiumSearch > * form textarea {
  background-color: #161315;
  border-color: #161315;
  color: white;
}
.compendiumContainer .compendiumSearch > * form input {
  max-width: 150px;
  width: 90%;
  background-color: #161315;
  border-color: #161315;
  color: white;
}
.compendiumContainer .compendiumSearch > * form button {
  background-color: #161315;
  border-color: #161315;
  width: 100px;
}
.compendiumContainer .compendiumSearch > * form button:hover {
  background: none;
  border-color: #161315;
  color: white;
  width: 100px;
}
@media (max-width: 800px) {
  .compendiumContainer .compendiumSearch > * {
    width: 300px;
  }
}
