a{
    
    text-decoration: none;
}
a *{
    margin: 5px;
}


.link{
    background-color: black;
    height: 60px;
    border: 2px solid black;
    border-radius: 5%;
    color: #ebe8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hoveredlink{
    opacity: 1;
    height: 60px;
    border: 2px solid #ebe8ea;
    border-radius: 5%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation-name: fade;
    animation-duration: 0.5s;
}
@keyframes fade{
    from{   
        background-color: black;
        border: 2px solid black;
        border-radius: 5%;
        color: white;
    }
    to{
        background: none;
        border: 2px solid #ebe8ea;
        border-radius: 5%;
        color: black;
    }
}

