
h1{
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
}
h2{
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}
h3{
    color: #ffffff;
}
p{
    color: #ffffff;
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.wide{
    margin: 5%;
    padding: 15%;
    padding-bottom: 0%;
    padding-top: 0%;
    text-align: center;
    text-align: left;
}

.left{
    text-align: right;
    margin: 5%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    
}
.left > img{
    width: 40%;
    height: 400px;
    margin: 2%;
}
.left .textbox{
    background-color: #381925;
    border: 20px solid #381925;
    border-radius: 16px;
    width: 60%;
}
.left  p{
    float: right;
    text-align: justify;
    
}
.left  h2{
    font-size: 2rem;
    text-align: center;
}
.right{
    text-align: left;
    margin: 5%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
}
.right > img{
    width: 40%;
    height: 400px;
    margin: 2%;
    
}
.right .textbox{
    background-color: #284655;
    border: 20px solid #284655;
    border-radius: 16px;
    width: 60%;
}
.right > p{
    float: left;
    width: 70%;
    text-align: justify;
}
.right > h2{
    font-size: 2rem;
    text-align: center;

}
.center{
    text-align: justify;
    margin: 5%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: inline-block;
}
.center > h2{
    font-size: 2rem;
}
.center > *{
    justify-content: center;
}
.split{
    display: flex;
    gap: 5%;
}
.splitcol{
    flex: 1;
    width: 45%;
    text-align: center;

}
.splitcol > p{
    text-align: justify ;
}
.wiki{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki h2{
    font-size: 2rem;
}
.changePlayerButtons{
    display: flex;
}

.playerButton{
    height: 20px;
    width: 60px;
    border: none;
    font-size: 1rem;
}
.playerButton:hover{
    color: black;
    background-color: #996de3;
    border: 2px solid #996de3;
    border-radius: 8px;
}
.activePlayerButton{
    height: 20px;
    width: 60px;
    color: black;
    background-color: #53bee9;
    border: 2px solid #53bee9;
    border-radius: 8px;
    font-size: 1rem;
}
.activePlayerButton:hover{
    background-color: #53bee9;
    border: 2px solid #53bee9;
}


.background{
    background-color: #161315;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    
}

.background *{
    animation-name: fadeIn;
    animation-duration: 0.2s;
}

@keyframes fadeIn {
    from{opacity: 0}
    to{opacity: 1};
}


/*Contactme nonsense*/
.contactme-link{
    text-decoration: none;
}




/*media query for tiny screens*/
@media (max-width: 800px){
    p{
        font-size: 1rem;
    }
    .left{
        padding: 0;
        flex-wrap: wrap;
    }
    .left > p{
        width: 100%;
    }
    .left > img{
        width: 100%;
        float: none
    }
    .right{
        padding: 0;
        flex-wrap: wrap;
    }
    .right > p{
        width: 100%;
    }
    .right > img{
        width: 100%;
        float: none
    }
    .split{
        display: flex;
        flex-wrap: wrap;
    }
    .splitcol{
        width: 100%;
        text-align: center;
    
    }
    .wide{
        padding: 0;
    }
}