
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 2rem;
    text-align: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.left{
    text-align: right;
    margin: 5%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: inline-block;
}
.left > img{
    float: left;
    width: 20%;
    margin: 2%;
}
.left > p{
    float: right;
    width: 70%;
    text-align: justify;
}
.left > h2{
    font-size: 2rem;
    text-align: center;
}
.right{
    text-align: left;
    margin: 5%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: inline-block
}
.right > img{
    float: right;
    width: 20%;
    margin: 2%;
    
}
.right > p{
    float: left;
    width: 70%;
    text-align: justify;
}
.right > h2{
    font-size: 2rem;
    text-align: center;

}
.center{
    text-align: justify;
    margin: 5%;
    padding: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: inline-block;
}
.center > h2{
    font-size: 2rem;
}
.center > *{
    justify-content: center;
}
.split{
    display: flex;
    gap: 5%;
}
.splitcol{
    flex: 1;
    width: 45%;
    text-align: center;

}
.splitcol > p{
    text-align: justify ;
}
.wiki{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wiki h2{
    font-size: 2rem;
}


.background{
    background-color: #ebe8ea;
    background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    
}

.background *{
    animation-name: fadeIn;
    animation-duration: 0.2s;
}

@keyframes fadeIn {
    from{opacity: 0}
    to{opacity: 1};
}


/*Contactme nonsense*/
.contactme-link{
    text-decoration: none;
}

@media (max-width: 800px){
    p{
        font-size: 1rem;
    }
    .left{
        padding: 0;
        flex-wrap: wrap;
    }
    .left > p{
        width: 100%;
    }
    .left > img{
        width: 100%;
        float: none
    }
    .right{
        padding: 0;
        flex-wrap: wrap;
    }
    .right > p{
        width: 100%;
    }
    .right > img{
        width: 100%;
        float: none
    }
    .split{
        display: flex;
        flex-wrap: wrap;
    }
    .splitcol{
        width: 100%;
        text-align: center;
    
    }
}