br {
  margin: 1rem;
}

.story {
  background-color: #ebe8ea;
  width: 60%;
  text-align: center;
  color: #381925;
  border: 2px solid #381925;
  border-radius: 8px;
  background-color: #381925;
}
.story button {
  background-color: #bd3265;
  border: 2px solid #bd3265;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}
.story button:hover {
  color: white;
  background-color: #53bee9;
  border-color: #53bee9;
}

@media (max-width: 800px) {
  .story {
    width: 90%;
  }
}
