.formContainer{
    width: 50vw;
}
.BlogForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.addBlogForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.BlogForm *{
    margin: 5px;
}
.addBlogForm *{
    margin: 5px;
}

.decideEdit{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
}

.hidden{
    display: none;
}
/*line break */
.break{
    flex-basis: 100%;
    height: 0%;
}
/* Buttons*/
button.visible{
    visibility: visible;
    width: 80px;
    height: 40px;
    background-color: #bd3366;
    border: 2px solid #bd3366;
    border-radius: 5%;
    color: #ffffff;
    font-weight: bold;
    margin:5px;
}

button.visible:hover{
    visibility: visible;
    background: none;
    border-color: #ffffff;
    color: #bdbdbd;
    font-weight: bold;
    
}
input.visible{
    background-color: #161315;
    border: 1px solid black;
    color: white;
    width: 30%;
    height: 30px;
    font-size: 1rem;
    font-weight: 100;
}
/* For post content input*/
textarea.visible{
    background-color: #161315;
    border: 1px solid black;
    color: white;
    width: 100%;
    height: 100px;
    font-size: 1rem;
    font-weight: 100;
}


@keyframes fade{
    from{   
        background-color: black;
        border: 2px solid black;
        border-radius: 5%;
        color: white;
    }
    to{
        background-color: #ebe8ea;
        border: 2px solid #ebe8ea;
        border-radius: 5%;
        color: white;
    }
}
