.displayContainer{
    display: flex;
    width: 70%;
    height: 500px;
    gap: 5px;
}

.displayPortrait{
    flex:1;
    width: 25%;
    background-color: #ebe8ea;
    display: flex;
    flex-direction: column;
}
.displayPortraitIMG{
    width: 90%;
    height: 65%;
}
.displayPortraitIcon{
    width:90%;
    height: 35%;
    background-color: red;
}
.displayMain{
    flex:2;
    width: 50%;
    background-color: #ebe8ea;
    display: flex;
    flex-direction: column;
}
.playerBars{
    height: 15%;
    width: 100%;
}