.statCheck {
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}

.statCheck * {
  text-align: center;
  width: 100%;
}

.statCheck > button:hover {
  background-color: #996de3;
  transition: all 0.5s;
  color: white;
}

.checkImg {
  transform: rotateY(0deg) rotate(45deg);
  background-color: #161315;
  width: 24px;
  height: 24px;
  margin: 2px;
  font-size: 2px;
}

.checkImg:hover {
  background: none;
}

.checkImg > img {
  transform: rotateY(0deg) rotate(-45deg);
  width: 24px;
  height: 24px;
}

.statCheck p {
  font-size: 15px;
}

.statCheck > button .hover {
  color: white;
  font-size: 12px;
}
