 
.bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;

}
.fill{
    width: 100%;
    fill: linear-gradient(90deg, #0062ff, #da61ff);
}
.focusbtn{
    width: 30%;
    border: none;
}

