 
.bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;


}
.fill{
    width: 100%;
    fill: linear-gradient(90deg, #0062ff, #da61ff);
}
.focusbtns{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.focusbtn{
    width: 30px;
    rotate: 270deg;
    border: none;
    border-radius: 8px;
    margin: 5px;

    img{
        padding-top: 2px;
    }
}
.focusbtn:hover{
    background-color: #53bee9;
}

.bar svg{
    background: none;
}
svg text{
    font-weight: bold;
    color: #bdbdbd;
}


