.adjustHealth{
    background-color: #424242;
    border: none;
    color: #ebe8ea;
}
.adjustHealthHover{
    background-color: #424242;
    border: none;
    color: #ff005f
}
.bar{
    display: flex;
    width: 80%;
    height: 60%;
    margin: 10px;
    background-color: #424242;
    border-radius: 5px;
}
.hp{
    background-color: #ff005f;
    border-radius: 5px;
}
.filler{
    /*background-color: #ebe8ea;*/
    opacity: 0;
}