.displayContainer{
    display: flex;
    width: 75%;
    height: 500px;
    gap: 5%;
}

.displayPortrait{
    width: 20%;
    background-color: #ebe8ea;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.displayPortraitIMG{
    height: max(400px, 70%);
    width: max(300px, 90%);
    align-self: center; 
}
.displayPortraitIcon{   
    width:90%;
    height: 35%;
    background-color: #ebe8ea;
    
}
.displayMain{
    width: 70%;
    background-color: #ebe8ea;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.playerBars{
    height: 15%;
    width: 100%;
}

@media (max-width: 800px) {
    .displayContainer{
        display: flex;
        width: 90%;
        height: 150vh;
        flex-wrap: wrap;
        }
    
    .displayPortrait{
        flex: 1;
        width: 100%;
        background-color: #ebe8ea;
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .displayMain{
        flex: 1;
        width: 100%;
        background-color: #ebe8ea;
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .displayMain > * {
        margin: 10px;
    }   
}