.itemIcon {
  width: 80px;
  height: 80px;
  background-color: #161315;
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
}
.itemIcon img {
  width: 80px;
  height: 80px;
  background-color: #161315;
  border-radius: 8px;
}

.itemHover {
  font-size: 12px;
  background-color: #161315;
  border: 2px solid #161315;
  border-radius: 8px;
}
.itemHover h2 {
  font-size: 12px;
}
.itemHover p {
  font-size: 12px;
}

.trait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trait * {
  width: 120px;
  border-radius: 8px;
}
.trait li {
  border: 1px solid #bd3265;
  border-radius: 8px;
  text-align: center;
  margin: 2px;
}
.trait li p {
  margin: 2px;
}
