.cabin-app{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
textarea{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
input{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
button{
  color: #ffffff;
  background-color: #161315;
}
button:hover{
  color: black;
  background-color: #996de3;
  
}
@media (max-width<=1200px){
  button:hover{
    background: none;
  }
}

/* top of page stuff stuff*/
.container{
  display: flex;
  flex-direction: column;
}
.cover{
  width: 100%;
}
.cover img{
  width: 100%;
  height: 100%;
}
.head{
  background-color:black;
  color: white;
  margin: 0;
}
.head h1{
  font-size: 2rem;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.nav button{
  flex: 1;
  width: 200px;
  border: 2px solid #161315;
}
.nav button:hover{
  background-color: #161315;;
}
.nav-img-load{
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}
.nav-img{
  width: 100%;
}
.nav-img-hidden{
  width: 100%;
  opacity: 0%;
}
.nav-img-pop{
  width: 100%;
  filter: saturate(2.5);
  animation-name: pop;
  animation-duration: 0.1s;
}
@keyframes fade {
    from{opacity: 0%}
    to{ opacity: 100%}
}
@keyframes pop {
  from{filter: saturate(1)}
  to{filter: saturate(1.5)}
}
.nav-p{
  color: #161315;
}
.nav-hover{
  color: white;
  transition: color 0.5s;
}
/*
main body
*/
.page{
  font-size: 16px;
  color: black;
}
/*Card stuff  
*/
.card{
  background-color: #161315;
  border: solid 1px #161315;
  border-radius: 8px;
  color: white;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;

  margin: 5px;

}

.cardHeader{
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.cardHeader > *{
  padding: 0;
  margin: 5px;
  font-size: 20px;
  align-items: center;
}
.cardHeader > img{
  float: right;
}

.cardArt{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;

}

.cardArt img{
  width: 90%;
  overflow: hidden;

}

.cardDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 10px
}
.cardDescription > h3 {
  width: 50%;
  font-size: 16px;
  
}
.cardDescription > p{
  width: 100%;
  font-size: 10px;
}




/*THE REAL SHIT ABOVE ^^^
  BOILERPLATE SHIT BELOW vvvv
*/


