.cabin-app{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
textarea{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
input{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
button{
  color: #ffffff;
  background-color: #161315;
}
button:hover{
  color: black;
  background-color: #996de3;
  
}
@media (max-width<=1200px){
  button:hover{
    background: none;
  }
}

/* top of page stuff stuff*/
.container{
  display: flex;
  flex-direction: column;
  background-color: #161315;
  overflow: hidden;
  
}
.cover{
  width: 100%;
}
.cover img{
  width: 100%;
  height: 100%;
}
.head{
  height: 50px;
  background: none;
  color: white;
  margin: 0;
}
.head h1{
  font-size: 1.5rem;
  position:relative;
  bottom: 50px;
}
.head h2{
  font-size: 1.5rem;
  position:relative;
  bottom: 50px;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: #161315;;
}

.MuiDrawer-root .MuiDrawer-paper{
  background-color: #161315;
}
.nav  .navFixedButton{
  position: fixed;
    top: 0px;
    left: 0%;
  width: 100px;
  height: 100px;
  border-radius: 8px;
    
}
.nav .navFixedButton:hover{
  background-color: #996de3 ;
  width: 80px;
  height: 80px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.nav button{
  width: 160px;
  border: 2px solid #161315;
  color: white;
  
}
.nav button:hover{
  width: 160px;
  background-color: #161315;

}
.navIcon{
  width: 150px;
  @media (max-width:800px) {
    width: 50px;
    
  }
}
.navIcon:hover{
  width: 150px;
  filter: saturate(3);
  @media (max-width:800px) {
    width: 50px;
    
  }
}
.navButton{
  background-color: #161315;
  border: none;
}
.navButton:hover{
  background-color: #161315;
}
@keyframes fade {
    from{opacity: 0%}
    to{ opacity: 100%}
}
@keyframes pop {
  from{filter: saturate(1)}
  to{filter: saturate(1.5)}
}
.nav-p{
  color: #161315;
}
.nav-hover{
  color: white;
  transition: color 0.5s;
}
@media (max-width: 800px) {
  .nav{
    background-color: #161315;
    display: flex;
    flex-wrap: wrap;
  }
  .nav button{
    width: 150px;
  }
  
}
/*
main body
*/

.page{
  font-size: 16px;
  color: black;
  background-color: #161315 ;
  min-height: 1200px;
  overflow: scroll;
}
/*Card stuff  
*/
.card{
  background-color: #161315;
  border: solid 1px #161315;
  border-radius: 8px;
  color: white;
  width: max(200px, 80%);
  height: 300px;
  display: flex;
  flex-direction: column;

}

.cardHeader{
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.cardHeader > *{
  padding: 0;
  margin: 5px;
  font-size: 20px;
  align-items: center;
}
.cardHeader > img{
  float: right;
}

.cardArt{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;

}

.cardArt img{
  width: 90%;
  overflow: hidden;

}

.cardDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
  font-size: 16px;
  padding: 10px;
}
.cardDescription > h3 {
  width: 50%;
  font-size: 16px;
  
}
.cardDescription > p{

  width: 100%;
  font-size: 16px;
}




